<body style="background-image:url(<%= asset_path 'main_back.jpg'%>);
    background-size:cover; background-repeat:no-repeat; background-attachment:fixed;
    height: 100vh;
">

<div class="container" style="margin:0; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
">

<div>

      <h1 class="display-3 text-center" style="font-family: Montserrat">MAKEitUP</h1>
      <h2 class="display-3 text-center" style="font-family: Montserrat">International Intensive</h2>
<!--      <h3 class="text-center" style="font-family: Montserrat; font-weight: lighter; margin-top: 40px; margin-bottom: 60px;">Have you completed the course?</h3>-->

      <div class="d-flex align-items-center justify-content-center mt-5">
        <%= form_tag root_path(), method: 'get', :class => 'input-group input-group-lg', :style => "max-width: 70%" do %>
          <%= text_field_tag :email, params[:email], class: 'form-control', type: 'search', style: 'border: none;', placeholder: "Email", autofocus: true, required: true %>
          <div class="input-group-append">
            <%#= link_to '&times;'.html_safe, request.path, class: "btn btn-light" %>
            <%= submit_tag "Сертификаты", class: 'btn btn-light' %>
          </div>
        <% end %>
      </div>

</div>

</div>

</body>